/* yomogi-regular - latin_cyrillic */

@font-face {
    font-family: 'Yomogi';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/yomogi-v2-latin_cyrillic-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/yomogi-v2-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/yomogi-v2-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/yomogi-v2-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/yomogi-v2-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/yomogi-v2-latin_cyrillic-regular.svg#Yomogi') format('svg');
    /* Legacy iOS */
}

body {
    font-family: 'Yomogi';
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-image: url(../img/fone.jpg);
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.liLogo
{
    flex-grow: 2;
    flex-basis: 550px;
}
.liElement
{
    flex-grow: 1;
    flex-basis: 100px;
    line-height: 2;
    color: rgba(217, 231, 17, 0.979)
}
.menuElement {
    margin-top: 8px;
    border-left: 2px solid rgba(217, 231, 17, 0.979);
    height: 30px;
    text-decoration: none;sd
    width: 8px;
    
}
.liLast{
    flex-grow:1;
    line-height: 2;
}
header {
    text-align: center;
    color: rgba(217, 231, 17, 0.979);
    background-image: url(../img/fone.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-position: left;
    background-color: #020305;
    background-attachment: fixed;
    background-size: cover;
    padding-right: 200px;
    padding-top: 100px;
}